#menu{
    display: flex;
    justify-content: center;
}
.item-menu{
    font-size: 26px;
    margin-left: 18px;
    margin-right: 18px;
    margin-top: 5px;
    text-decoration: none;
    color:rgb(207, 149, 25);
    font-family: 'Times New Roman', Times, serif;
}
.item-menu:hover{
    color:rgb(136, 68, 68);
    transition: .1 ease-in;
}